.title {
    background: linear-gradient(120deg,#f3ece2,#f1e1c2 100%);
    color: rgb(0, 0, 0);
    font-size: 14px
}
h1{
    color: rgba(118, 88, 46, 0.989);
}
h3{
    color: rgb(169, 145, 83);
}

.row {
    height: 90vh;
}

.center-v {
    width: 100%;
    display: flex;
    align-items: center;
}

.w-90 {
    width: 90% !important;
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}