<div class="col-sm title center-v">
    <h1>Archi+tech Innovations</h1> <br>
    <h2>Create a meeting Schedule</h2>
    <h5>Please fill in this form to create a client.</h5>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="mb-3 col-sm-3">
        <label for="meeting" class="form-label"><strong>Meeting Topic</strong></label>
        <input type="meeting" ngModel required #meeting="ngModel" class="form-control" name="meeting" placeholder="Enter Meeting Topic">
        <span *ngIf="meeting.invalid && meeting.touched" class="error">Meeting topic is required</span>
    </div>
    <div class="mb-3 col-sm-3">
        <label for="npeople" class="form-label"><strong>Number of People</strong></label>
        <input type="npeople" class="form-control" id="npeople" placeholder="Enter mumber of people">
    </div>
    <div class="mb-3 col-sm-4">
        <label for="npeople" class="form-label"><strong>Start Time</strong></label>
        <input type="datetime-local" class="form-control" id="meetingTime" name="meeting-time">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-secondary">Register</button>
    </div>
    </form>
</div>