
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 60%;
    opacity: 0.9;
} 
.center-v {
    width: 60%;
    display: flex;
    align-items: center;
}

.center {
    width: 100%;
    display: flex;
    align-items:self-start;
    justify-content: center;
}

.w-90 {
    width: 90% !important;
}

input.ng-invalid{
    border-left: 5px solid red
}
input.ng-valid{
    border-left: 5px solid green;
}
.error{
    color: red;
}