

<div class="table-block mt-4">
    <h4 class="px-4 py-3">Orders</h4>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Material</th>
            <th scope="col">Company</th>
            <th scope="col">Delivery Time</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Project Number</th>
          </tr>
        </thead>
      </table>
</div>



<!-- <div class="row">
    <div class="col-sm title center-v">
        <div class="pl-4">
            <img src="../../assets/img/blueprint.avif">            
        </div>
    </div>
    <div class="col-sm center">
        <div class="border border-secondary px-5 py-4 w-90">
            <div>
                <h4>Rustic/Modern Home</h4>
                <h6>Blueprints are one of the most important tools in architecture. They are used to communicate the design of a building to builders, contractors, and other stakeholders. Blueprints typically include a detailed drawing of the building, as well as information about the materials that will be used.</h6>
                <h6>The materials used in a building can have a significant impact on its appearance, performance, and sustainability. Architects carefully select materials to meet the specific needs of a project.</h6>
                <h6><strong>Some of the most common materials used in architecture include:</strong></h6>
                <h6><strong>-Wood</strong></h6>
                <h6><strong>-Concrete</strong></h6>
                <h6><strong>-Glass</strong></h6>
                <h6><strong>-Brick</strong></h6>
            </div>
        </div>   
    </div> 
</div>
<br><br>
<div class="col-sm center"> 
    <div class="border border-secondary px-5 py-4 w-90">
        <h5>Our company is committed to using sustainable materials in our construction projects. We believe that it is important to reduce the environmental impact of our buildings, and we are always looking for new ways to do so. We use a variety of sustainable materials, including recycled materials, local materials, and natural materials. We also design our buildings to be energy-efficient and water-efficient. We believe that sustainability is important, and we are proud to be a leader in sustainable construction." </h5>
        <h5>Design buildings that are energy-efficient. This can be done by using materials that insulate well, installing energy-efficient appliances, and using natural light whenever possible.</h5>
        <h5>Use water-efficient fixtures and appliances. This can help to reduce water consumption and save money on water bills.</h5>
        <h5>Recycle and compost construction waste. This helps to reduce the amount of waste that goes to landfills.</h5>
        <h5>Plant trees and other vegetation around the building. This helps to improve air quality and reduce the heat island effect.</h5>
        <h5>We also have the best team and we make sure to use clear and concise language, be specific about the materials that will be used, explain the impact of the materials on the building's appearance, performance, and sustainability and use images to illustrate your points.</h5>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm center">
        <div class="pl-4">
            <img src="../../assets/img/tijolo.avif">            
        </div>
    </div>
    <div class="col-sm center">
        <div >
            <div>
                <img src="../../assets/img/wood.avif">
            </div>
        </div>   
    </div> 
</div> -->