<h1>Archi+tech Innovations</h1>
<h3> Welcome to Anna's Architectural Firm </h3>
<div class="row">
    <div class="col-sm title center-v">
        <div class="pl-4">
            <img src="../../assets/img/house.jpg">            
        </div>
    </div>
    <div class="col-sm center">
        <div class="border border-secondary px-5 py-4 w-90">
            <div>
                <h4>Rustic/Modern Home</h4>
                <h6>A rustic/modern house is a type of home that combines the best of both worlds: the warmth and comfort of a rustic home with the sleek lines and modern amenities of a modern home. These homes are often found in rural areas, but they can also be found in urban areas.</h6>
                <h6>The architecture of a rustic/modern house is typically a blend of rustic and modern elements. The exterior of the home may be made of wood, stone, or brick, with large windows that let in plenty of natural light.</h6>
                <h6>The interior of the home may be furnished with a mix of rustic and modern furniture and are often decorated with a mix of rustic and modern accents. The home may have exposed beams, stonework, or antlers, as well as modern art, sculptures, or light fixtures. </h6>
                <h6><strong>Here are some of the key elements of a rustic/modern house architecture:</strong></h6>
                <h6><strong>-Use of natural materials</strong></h6>
                <h6><strong>-Open floor plan</strong></h6>
                <h6><strong>-Large windows</strong></h6>
                <h6><strong>-Modern amenities</strong></h6>
            </div>
        </div>   
    </div> 
</div>
<br><br>

<div class="row">
    <div class="col-sm center">
        <div class="border border-secondary px-5 py-4 w-90">
            <h4>Modern Home</h4>
            <h6>A modern house is a type of home that is characterized by its clean lines, its use of natural light, and its focus on function over form. Modern homes are often found in urban areas, but they can also be found in rural areas.</h6>           
            <h6>The architecture of a modern house is typically simple and elegant. The exterior of the home is often made of glass, steel, or concrete.The windows are typically large and frameless, and they may be made of glass. </h6>
            <h6>The interior of a modern house is typically open and airy and  are often decorated with simple, minimalist furniture. The home may also have modern accents, such as abstract art, sculptures, or light fixtures.</h6>
            <h6><strong>Here are some of the key elements of a modern house architecture:</strong></h6>
            <h6><strong>-Clean lines</strong></h6>
            <h6><strong>-Use of natural light</strong></h6>
            <h6><strong>-Focus on function over form</strong></h6>
            <h6><strong>-Use of natural materials</strong></h6>
        </div>
    </div>
    <div class="col-sm center">
        <div>
                <img src="../../assets/img/casa.avif">
            
            </div>
        </div>   
    </div>    
<br>
<br>
    <div class="row">
        <div class="col-sm title center-v">
            <div class="pl-4">
                <img src="../../assets/img/rustic.avif">            
            </div>
        </div>
        <div class="col-sm center">
            <div class="border border-secondary px-5 py-4 w-90">
                <div>
                    <h4>Rustic Home</h4>
                    <h6>A rustic house is a type of home that is characterized by its use of natural materials, its simple design, and its focus on comfort and relaxation. Rustic homes are often found in rural areas, but they can also be found in urban areas.</h6>
                    <h6> The interior of a rustic house is typically furnished with simple, comfortable furniture. The walls are often made of wood or stone, and the floors are often made of wood or tile. The home may have a fireplace or wood stove for warmth and are often decorated with natural elements, such as flowers, plants, and wood furniture.</h6>
                    <h6><strong>Here are some of the key elements of a rustic house architecture:</strong></h6>
                    <h6><strong>-Use of natural materials</strong></h6>
                    <h6><strong>-Simple design</strong></h6>
                    <h6><strong>-Focus on the outdoors</strong></h6>
                    <h6><strong>-Use of rustic accents</strong></h6>
                </div>
            </div>   
        </div> 
    </div>